ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 20px;
  background-color: blue;
  color: white;
}

li li {
  background-color: red;
  padding-left: 30px;
}

li ul {
  display: none;
}

li:hover ul {
  display: block;
}